@model CourseProject.Models.ViewModels.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-3">Create</h1>

<div class="row">
    <div class="col-md-6 m-auto">
        <form asp-action="Create" class="d-flex flex-column">
            <label class="control-label">Provider</label>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="form-control" asp-for="Delivery.DeliveryProvider.Id"
                    asp-items="@(new SelectList(Model.DeliveryProviders, "Id", "Name"))">

            </select>
            <label class="control-label">Delivery type</label>
            <select class="form-control" asp-for="Delivery.DeliveryType.Id"
                    asp-items="@(new SelectList(Model.DeliveryTypes, "Id", "Name"))">

            </select>
            <div class="form-group">
                <label asp-for="Delivery.Address" class="control-label">Address</label>
                <input asp-for="Delivery.Address" class="form-control"/>
                <span asp-validation-for="Delivery.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Delivery.Date" class="control-label"></label>
                <input asp-for="Delivery.Date" min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-ddThh:mm")" class="form-control"/>
                <span asp-validation-for="Delivery.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" style="width: 100%;" class="btn btn-success">Create order</button>
            </div>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}