@using CourseProject.Data
@using CourseProject.Models.DataModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager


<div class="container">
    <div class="d-flex justify-content-start mt-3">
        <a asp-action="Index" asp-controller="Order" asp-route-id="@UserManager.GetUserId(User)" class="btn btn-check">
            Orders
        </a>
    </div>
    <hr/>
    <h5>Admin Actions:</h5>
    <div class="d-flex justify-content-start mt-3" style="gap: 16px">
        @if (User.IsInRole(RoleConst.Admin))
        {
            <a class="btn btn-outline-danger" asp-action="ConfirmIndex" asp-controller="Order">All Orders</a>
            <a class="btn btn-outline-primary" style="text-decoration: none" asp-controller="Product" asp-action="Create">Add Product</a>
            <a class="btn btn-check" asp-controller="Category" asp-action="Create">Add Category</a>
        }
    </div>
</div>


<script>
    const triggerTabList = document.querySelectorAll('#myTab a');

    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl);

        triggerEl.addEventListener('click',
            event => {
                event.preventDefault();
                tabTrigger.show();
            })
    })
</script>