@model CourseProject.Models.ViewModels.UserRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 class="mt-5">Register</h1>

<div class="row">
    <div class="col-md-6 m-auto">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label">Surname</label>
                <input asp-for="SurName" class="form-control"/>
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" style="width: 100%;" class="btn btn-success">Sign up</button>
            </div>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>

<div>
    <a asp-action="Index">Home</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}