@using Microsoft.AspNetCore.Identity
@using CourseProject.Identity.Models
@using CourseProject.Models.DataModels
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">

            <a class="text-light" asp-controller="User" asp-action="Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Product", new { area = "" })">
                <button type="submit" class=" btn btn-link text-light">Exit</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="text-light" asp-controller="User" asp-action="Register">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="text-light" asp-controller="User" asp-action="Login">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="text-light" asp-controller="User" asp-action="GoogleLogin">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACi0lEQVRoge2ZvWsUQRjGnwm2BlGMSSEJMZ1BRFvxsLBQwT/gJEpMFCztrPyoxN5CbPwPIholmMZCUFFBPRA7MYcSRUWSOxXUu5/F7sGBNzuzu3N7BPZXzr687/NwNx/vjFRSUlJSUpIdEzIZMCrpqKSKpGlJ45KG489rkuqSXklakrRsjFkPWT83QAVYBP7gz2/gNrB30PoFTAFLKcT3og0sAOODMjEDNHKa6OYbcKxoE5cDGujmL7CnKBNX+mSiDZwrysRMCmEt4APwDHgKrMRibbHzRZmYApoeBl4CZ4AdPXKMAnNAbSAmYhGu1WkdOAkMeeQywCywBswVob9TuOIwsQJMZ8g77I4KCHDP8UukNlE48f86acc+NWiNXhBNThuvfeZEEfiIqCR8u26MaYcSk4dNHjG7LeNtSXd9igBt5TtpjxhjviQF+PwitsPcqjHmc3pNmdjpCvAxstkyvppOSy6CGNkQ+BhpWMbHQgpx8MMV4GPkvWV8jKi1LYKmK8Bn1XojaX+P8SFJxyXd9MhxTe5Va17SNsu3ukeNZIDT/d4QgUnsR/yvuU3ERVxHlNkANW4l5F8I4aNTaDGhUIMc7SlwmKgnsRGuVwEOJhQCqGcxA+wjunSw8QvYEsxIXPS+w0yDaD55zRngBFFjlcSNoCbiwrvwu/6pAWeB//YZYCtQBR575PkJTAQ3Egupegjo0AI+As+BJ8A77CtTLy70xUSXmUspxGRlGfDZ43KbudhHEy8IPcEdZqpE/XpIHlD0hURsZpLkiwlfmsB5Bt02AweAO6R7VgD4BFwFtufVEPqhZ0TSEUmHFLXIE4oeelD00PNd0ltJNUkPJT0yxrRCaigpKSkpKcnCPwwqJayZQ24FAAAAAElFTkSuQmCC" alt="google">
            </a>
        </li>
    }
</ul>